<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Host Map</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="stylesheets/dashboard.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!--jQuery Library Dependency for bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


</head>
<body ng-app="opsmonitor" ng-controller="hostMapController">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand" href="/">OpS Monitor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="/">Dashboard<span class="sr-only">(current)</span></a></li>
            <li><a href="/hostmap">Host Health Status</a></li>
            <li><a href="/reports">Reports</a></li>
            <li><a href="/openstackaccessmap">Analytics</a></li>
            <li><a href="/proactiveTests">Pro-active Workflow Tests</a></li>
        </ul>
    </div>
    <div class="col-sm-2 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Host Map</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-6 placeholder">
                <div class="row placeholders">
                    <svg height="100" width="100">
                        <circle cx="50" cy="50" r="40" stroke="green" stroke-width="1" fill="green"
                                onclick="displayHost1()"/>
                        <text x="40" y="55" font-family="Verdana" font-size="12" fill="white"></text>
                    </svg>
                    <p>Controller IP: 130.65.159.58</p>
                </div>
                <div class="row">
                    <table style="float: left; width:90%">
                        <tr>
                            <td>Property</td>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <td>CPU Usage</td>
                            <td>{{cpu_controller| number:2}}</td>
                        </tr>
                        <tr>
                            <td>Memory Usage</td>
                            <td>{{memory_controller| number:2}}</td>
                        </tr>
                        <tr>
                            <td>Disk Read Rate</td>
                            <td>{{disk_read_controller| number:2}}</td>
                        </tr>
                        <tr>
                            <td>Disk Write Rate</td>
                            <td>{{disk_write_controller| number:2}}</td>
                        </tr>
                    </table>
                </div>
            </div>


            <div class="col-xs-6 col-sm-6 placeholder">
                <div class="row placeholders">
                    <svg height="100" width="100">
                        <circle cx="50" cy="50" r="40" stroke="green" stroke-width="3" fill="green"
                                onclick="displayHost2()"/>
                        <text x="20" y="55" font-family="Verdana" font-size="10" fill="white"></text>
                    </svg>
                    <p>Compute IP: 130.65.159.170</p>
                </div>
                <div class="row">
                    <table style="float: left; width:90%">
                        <tr>
                            <td>Property</td>
                            <td>Value</td>

                        </tr>
                        <tr>
                            <td>CPU Usage</td>
                            <td>{{cpu_compute| number:2}}</td>
                        </tr>
                        <tr>
                            <td>Memory Usage</td>
                            <td>{{memory_compute| number:2}}</td>
                        </tr>
                        <tr>
                            <td>Disk Read Rate</td>
                            <td>{{disk_read_compute| number:2}}</td>
                        </tr>
                        <tr>
                            <td>Disk Write Rate</td>
                            <td>{{disk_write_compute | number:2}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <style>
                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                }

                th, td {
                    padding: 1px;
                    text-align: left;
                }
            </style>
            </head>


            <style>
                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                }

                th, td {
                    padding: 1px;
                    text-align: left;
                }
            </style>
            </head>


        </div>
        <div class="row">
            <div id="container1" style="min-width: 800px; height: 400px; margin: 0 auto;">
            </div>
        </div>
        <div class="row">
            <div id="container2" style="min-width: 800px; height: 400px; margin: 0 auto;">
            </div>
        </div>
        <div class="row">
            <div id="container3" style="min-width: 800px; height: 400px; margin: 0 auto; display: none;">
            </div>
        </div>
        <div class="row">
            <div id="container4" style="min-width: 800px; height: 400px; margin: 0 auto; display: none;">
            </div>
        </div>


    </div>
</div>

<script>
    function displayHost1() {
        document.getElementById('container1').style.display = 'block';
        document.getElementById('container2').style.display = 'block';
        document.getElementById('container3').style.display = 'none';
        document.getElementById('container4').style.display = 'none';
    }

    function displayHost2() {
        document.getElementById('container1').style.display = 'none';
        document.getElementById('container2').style.display = 'none';
        document.getElementById('container3').style.display = 'block';
        document.getElementById('container4').style.display = 'block';
    }

</script>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<!--AngularJS Libraries-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>

<script type="text/javascript" src="javascripts/hostMapController.js"></script>
<script type="text/javascript"> src = "javascripts/vendor/html5shiv.js" </script>
<script type="text/javascript"> src = "javascripts/vendor/plugins.js" </script>
<script type="text/javascript"> src = "javascripts/vendor/jquery.knob.js" </script>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>
</html>