<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Host Map</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="stylesheets/dashboard.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!--jQuery Library Dependency for bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


</head>
<body ng-app="opsmonitor" ng-controller="hostMapController">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand" href="/">OpS Monitor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="/">Dashboard<span class="sr-only">(current)</span></a></li>
            <li><a href="/hostmap">Host Health Status</a></li>
            <li><a href="/reports">Reports</a></li>
            <li><a href="/openstackaccessmap">Analytics</a></li>
            <li><a href="/proactiveTests">Pro-active Workflow Tests</a></li>
        </ul>
    </div>
    <div class="col-sm-2 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Host Map</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-6 placeholder">
                <div class="row placeholders">
                    <svg height="100" width="100">
                        <circle cx="50" cy="50" r="40" stroke="green" stroke-width="1" fill="green"
                                onclick="displayHost1()"/>
                        <text x="40" y="55" font-family="Verdana" font-size="12" fill="white"></text>
                    </svg>
                    <p>Controller IP: 130.65.159.58</p>
                </div>
                <div class="row">
                    <table style="float: left; width:90%">
                        <tr>
                            <th>Controller</th>
                            <th colspan="2"></th>


                        </tr>
                        <tr>
                            <td>Property</td>
                            <td>Value</td>

                        </tr>
                        <tr>
                            <td> Host Name</td>
                            <td>Controller</td>
                        </tr>
                        <tr>
                            <td>CPU Usage</td>
                            <td>26.93</td>
                        </tr>
                        <tr>
                            <td>Memory Usage</td>
                            <td>96.02</td>
                        </tr>
                        <tr>
                            <td>Disk Read Rate</td>
                            <td>27.9</td>
                        </tr>
                        <tr>
                            <td>Disk Write Rate</td>
                            <td>90.05</td>
                        </tr>
                    </table>
                </div>
            </div>


            <div class="col-xs-6 col-sm-6 placeholder">
                <div class="row placeholders">
                    <svg height="100" width="100">
                        <circle cx="50" cy="50" r="40" stroke="green" stroke-width="3" fill="green"
                                onclick="displayHost2()"/>
                        <text x="20" y="55" font-family="Verdana" font-size="10" fill="white"></text>
                    </svg>
                    <p>Compute IP: 130.65.159.170</p>
                </div>
                <div class="row">
                    <table style="float: left; width:90%">
                        <tr>
                            <th>Compute</th>
                            <th colspan="2"></th>
                        </tr>
                        <tr>
                            <td>Property</td>
                            <td>Value</td>

                        </tr>
                        <tr>
                            <td> Host Name</td>
                            <td>Compute</td>
                        </tr>
                        <tr>
                            <td>CPU Usage</td>
                            <td>28.24</td>
                        </tr>
                        <tr>
                            <td>Memory Usage</td>
                            <td>98.67</td>
                        </tr>
                        <tr>
                            <td>Disk Read Rate</td>
                            <td>26.95</td>
                        </tr>
                        <tr>
                            <td>Disk Write Rate</td>
                            <td>94.34</td>
                        </tr>
                    </table>
                </div>
            </div>

            <style>
                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                }

                th, td {
                    padding: 1px;
                    text-align: left;
                }
            </style>
            </head>


            <style>
                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                }

                th, td {
                    padding: 1px;
                    text-align: left;
                }
            </style>
            </head>


        </div>
        <div class="row">
            <div id="container1" style="min-width: 800px; height: 400px; margin: 0 auto;">
            </div>
        </div>
        <div class="row">
            <div id="container2" style="min-width: 800px; height: 400px; margin: 0 auto;">
            </div>
        </div>
        <div class="row">
            <div id="container3" style="min-width: 800px; height: 400px; margin: 0 auto; display: none;">
            </div>
        </div>
        <div class="row">
            <div id="container4" style="min-width: 800px; height: 400px; margin: 0 auto; display: none;">
            </div>
        </div>


    </div>
</div>
<script>
    $(function () {
        $('#container1').highcharts({
            title: {
                text: 'Host1 I/O',
                x: 1 //center
            },

            xAxis: {
                title: {
                    text: 'Time'
                },
                categories: ['1', '2', '3', '4', '5', '6', '7', '8', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '57', '58', '59', '60']
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Disk Read',
                data: [29.2, 30.5, 30.0, 29.5, 29.6, 31.1, 29.0, 29.7, 30.7, 30.4, 30.9, 29.1, 30.4, 30.1, 29.6, 29.1, 29.6, 29.6, 29.1, 30.5, 29.7, 30.8, 31.7, 30.8, 31.2, 29.6, 29.0, 29.3, 29.5, 30.1, 29.6, 30.0, 31.2, 30.2, 30.4, 29.6, 30.3, 30.6, 29.3, 29.3, 29.9, 30.7, 31.1, 29.8, 29.6, 30.3, 30.7, 31.3, 30.6, 29.6, 30.0, 30.2, 28.6, 28.0, 30.1, 30.9, 29.9, 29.4, 30.3, 30.8]
            }, {
                name: 'Disk Write',
                data: [97.2, 116, 115, 106, 105, 113, 88.3, 112, 107, 119, 124, 96.7, 108, 112, 102, 98.4, 102, 99.6, 97.1, 104, 110, 118, 118, 105, 104, 111, 101, 101, 98.0, 110, 98.9, 109, 117, 94.7, 123, 109, 122, 111, 102, 100, 111, 125, 111, 107, 104, 104, 101, 111, 126, 103, 120, 118, 92.6, 88.6, 109, 117, 110, 107, 110, 98.6]
            }]
        });
    });
</script>
<script>
    $(function () {
        $('#container2').highcharts({
            title: {
                text: 'Host1 CPU/Memory',
                x: 1 //center
            },

            xAxis: {
                title: {
                    text: 'Time'
                },
                categories: ['1', '2', '3', '4', '5', '6', '7', '8', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '57', '58', '59', '60']
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'CPU Usage',
                data: [23.66, 23.66, 23.66, 23.66, 23.66, 23.66, 23.66, 23.66, 23.66, 23.66, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.62, 23.62]
            }, {
                name: 'Memory',
                data: [58, 54, 93, 62, 58, 61, 93, 63, 89, 52, 96, 59, 66, 58, 59, 60, 63, 51, 52, 99, 64, 63, 58, 51, 58, 50, 58, 56, 52, 63, 58, 51, 66, 53, 63, 51, 59, 61, 56, 63, 54, 88, 53, 68, 46, 56, 56, 96, 60, 54, 56, 89, 60, 97, 64, 49, 53, 58, 62, 44]
            }]
        });
    });
</script>
<script>
    $(function () {
        $('#container3').highcharts({
            title: {
                text: 'Host2 I/O',
                x: 1 //center
            },

            xAxis: {
                title: {
                    text: 'Time'
                },
                categories: ['1', '2', '3', '4', '5', '6', '7', '8', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '57', '58', '59', '60']
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Disk Read',
                data: [29.2, 30.5, 30.0, 29.5, 29.6, 31.1, 29.0, 29.7, 30.7, 30.4, 30.9, 29.1, 30.4, 30.1, 29.6, 29.1, 29.6, 29.6, 29.1, 30.5, 29.7, 30.8, 31.7, 30.8, 31.2, 29.6, 29.0, 29.3, 29.5, 30.1, 29.6, 30.0, 31.2, 30.2, 30.4, 29.6, 30.3, 30.6, 29.3, 29.3, 29.9, 30.7, 31.1, 29.8, 29.6, 30.3, 30.7, 31.3, 30.6, 29.6, 30.0, 30.2, 28.6, 28.0, 30.1, 30.9, 29.9, 29.4, 30.3, 30.8]
            }, {
                name: 'Disk Write',
                data: [97.2, 116, 115, 106, 105, 113, 88.3, 112, 107, 119, 124, 96.7, 108, 112, 102, 98.4, 102, 99.6, 97.1, 104, 110, 118, 118, 105, 104, 111, 101, 101, 98.0, 110, 98.9, 109, 117, 94.7, 123, 109, 122, 111, 102, 100, 111, 125, 111, 107, 104, 104, 101, 111, 126, 103, 120, 118, 92.6, 88.6, 109, 117, 110, 107, 110, 98.6]
            }]
        });
    });
</script>
<script>
    $(function () {
        $('#container4').highcharts({
            title: {
                text: 'Host2 CPU/Memory',
                x: 1 //center
            },

            xAxis: {
                title: {
                    text: 'Time'
                },
                categories: ['1', '2', '3', '4', '5', '6', '7', '8', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '57', '58', '59', '60']
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'CPU Usage',
                data: [23.66, 23.66, 23.66, 23.66, 23.66, 23.66, 23.66, 23.66, 23.66, 23.66, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.65, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.64, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.63, 23.62, 23.62]
            }, {
                name: 'Memory',
                data: [58, 54, 93, 62, 58, 61, 93, 63, 89, 52, 96, 59, 66, 58, 59, 60, 63, 51, 52, 99, 64, 63, 58, 51, 58, 50, 58, 56, 52, 63, 58, 51, 66, 53, 63, 51, 59, 61, 56, 63, 54, 88, 53, 68, 46, 56, 56, 96, 60, 54, 56, 89, 60, 97, 64, 49, 53, 58, 62, 44]
            }]
        });
    });
</script>
<script>
    function displayHost1() {
        document.getElementById('container1').style.display = 'block';
        document.getElementById('container2').style.display = 'block';
        document.getElementById('container3').style.display = 'none';
        document.getElementById('container4').style.display = 'none';
    }

    function displayHost2() {
        document.getElementById('container1').style.display = 'none';
        document.getElementById('container2').style.display = 'none';
        document.getElementById('container3').style.display = 'block';
        document.getElementById('container4').style.display = 'block';
    }

</script>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<!--AngularJS Libraries-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>

<script type="text/javascript" src="javascripts/hostMapController.js"></script>
<script type="text/javascript"> src = "javascripts/vendor/html5shiv.js" </script>
<script type="text/javascript"> src = "javascripts/vendor/plugins.js" </script>
<script type="text/javascript"> src = "javascripts/vendor/jquery.knob.js" </script>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>
</html>